    
    <div class="card card-plain">
        <div class="card-header d-flex justify-content-between">
          <div class="d-flex align-items-center">
            <h4 class="card-title mr-3"> Stocks</h4>
            <select (change)="onChange($event.target.value)" >
              <option value="All">All</option>
              <option value="Open">Open</option>
              <option value="Closed">Closed</option>
              <option value="Free">Free</option>
              <option value="Premium">Premium</option>
            </select>
          </div>
          <a routerLink="/add-stock">
            <button class="btn btn-sm btn-success">New</button>
        </a>
        </div>
        <div class="card-body">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Symbol
                </th>
                <th>
                  Buy Below
                </th>
                <th>
                  Sell Above
                </th>
                <th >
                  Date
                </th>
                <th >
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let stock of stocks">
                  <td>
                    {{stock.symbol}}
                  </td>
                  <td>
                    {{stock.sell}}
                  </td>
                  <td>
                    {{stock.buy}}
                  </td>
                  <td >
                    {{stock.created_at | date: 'dd-MMM-yyyy'}}
                  </td>
                  <td>
                      
                  <button class="btn btn-primary btn-sm mb-2 mr-2" routerLink="/edit-stock-data/{{stock.id}}">Edit</button>
                  <button class="btn btn-danger btn-sm mb-2 mr-2" (click)="Delete(stock.id)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>